<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="QuanLyKinhDoanhNhaSach.Properties.Settings.QLKDNHATHUOCConnectionString" connectionString="Data Source=LAPTOP-8NPMKL8D;Initial Catalog=QLKDNHATHUOC;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="QLKDNHATHUOCEntities" connectionString="metadata=res://*/Database.ADO.csdl|res://*/Database.ADO.ssdl|res://*/Database.ADO.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-8NPMKL8D;initial catalog=QLKDNHATHUOC;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLKDNHATHUOCEntities1" connectionString="metadata=res://*/Database.ADO_DATABASE.csdl|res://*/Database.ADO_DATABASE.ssdl|res://*/Database.ADO_DATABASE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-8NPMKL8D;initial catalog=QLKDNHATHUOC;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>